
<div>
  <h3>Khóa học của tôi</h3>
  <a href="/me/trash/courses">Thùng rác</a>
</div>


<table class="table">
  <thead>
      <tr>
      <th scope="col">#</th>
      <th scope="col">Tên khóa học</th>
      <th scope="col">Trình độ</th>
      <th scope="col" colspan="2">Thời gian tạo</th>
    </tr>
  </thead>
  <tbody>
    {{#each courses}}
    <tr>
      <th scope="row">{{sum @index 1}}</th>
      <td>{{this.name}}</td>
      <td>{{this.level}}</td>
      <td>{{this.createdAt}}</td>
      <td>
        <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
        <a href="" class="btn btn-link" data-bs-toggle="modal" data-id ="{{this._id}}" data-bs-target="#delete-course-modal">Xóa</a>
      </td>
    </tr>
    {{else}}
    <tr>
      <td colspan="5" class="text-center">Bạn chưa tạo Blog nào.
        <a href="/courses/create">Create Blog</a>
      </td>
    </tr>

    {{/each}}
  </tbody>
</table>

{{!-- Confirm delete --}}

<div class="modal fade" id="delete-course-modal" tabindex="-1" aria-labelledby="delete-course-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="delete-course-modalLabel">Bạn có chắc muốn xóa?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Dữ liệu đã chọn sẽ bị xóa
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button id="btn-delete" type="button" class="btn btn-danger">Xác nhận</button>
      </div>
    </div>
  </div>
</div>
{{!-- Delete hiden form --}}
<form name="delete-course-form" method="POST"></form>

{{!-- Script --}}
<script>
  const exampleModal = document.getElementById('delete-course-modal')
  var courseId
  var deleteForm = document.forms['delete-course-form']
   var btnDeleteCourse = document.getElementById('btn-delete')

  if (exampleModal) {
    exampleModal.addEventListener('show.bs.modal', event => {
      const button = event.relatedTarget
      courseId = button.getAttribute('data-id')
    })
  }

  btnDeleteCourse.onclick = function(){
    deleteForm.action = '/courses/'+courseId + '?_method=DELETE'
    deleteForm.submit()
  }
</script>